$text-add-to-basket: #A3D69B;
$text-error: red;
$text: rgba(33, 37, 66, 0.9);
$text-input: black;
$background: #F1F7FF;
$background-article: #F2F2FA;
$background-count: #EEEEEE;
$plus-minus: #989898;
$background-sub-total: #FFF;
$background-product-in-basket: #F4F5FF;
$header-count: #FE8888;
$background-modal: white;
$background-about-company: #F4F5F5;
$background-product-card: rgba(100, 100, 111, 0.2);
